CSharp/addons/YATI/DictionaryBuilder.cs linguist-detectable=false
CSharp/addons/YATI/DictionaryFromXml.cs linguist-detectable=false
CSharp/addons/YATI/Importer.cs linguist-detectable=false
CSharp/addons/YATI/PostProcessing.cs linguist-detectable=false
CSharp/addons/YATI/TilesetCreator.cs linguist-detectable=false
CSharp/runtime/YATI/DictionaryBuilder.cs linguist-detectable=false
CSharp/runtime/YATI/DictionaryFromXml.cs linguist-detectable=false
CSharp/runtime/YATI/Importer.cs linguist-detectable=false
CSharp/runtime/YATI/TilesetCreator.cs linguist-detectable=false
