CSharp/addons/YATI/DictionaryBuilder.cs linguist-detectable=false
CSharp/addons/YATI/DictionaryFromXml.cs linguist-detectable=false
CSharp/addons/YATI/Importer.cs linguist-detectable=false
CSharp/addons/YATI/PostProcessing.cs linguist-detectable=false
CSharp/addons/YATI/TilesetCreator.cs linguist-detectable=false
CSharp/runtime/DictionaryBuilder.cs linguist-detectable=false
CSharp/runtime/DictionaryFromXml.cs linguist-detectable=false
CSharp/runtime/Importer.cs linguist-detectable=false
CSharp/runtime/TilesetCreator.cs linguist-detectable=false
