CSharp/addons/YATI/DictionaryBuilder.cs linguist-detectable=false
CSharp/addons/YATI/DictionaryFromXml.cs linguist-detectable=false
CSharp/addons/YATI/Importer.cs linguist-detectable=false
CSharp/addons/YATI/PostProcessing.cs linguist-detectable=false
CSharp/addons/YATI/TilesetCreator.cs linguist-detectable=false
CSharp/runtime/DictionaryBuilder.cs linguist-detectable=false
CSharp/runtime/DictionaryFromXml.cs linguist-detectable=false
CSharp/runtime/Importer.cs linguist-detectable=false
CSharp/runtime/TilesetCreator.cs linguist-detectable=false

# Exclude all top-level files and directories (except addons) from ZIP downloads.
# This makes installing through the AssetLib easier, because no files and folders need to be unchecked.
.github export-ignore
CSharp/* export-ignore
GDScript/runtime export-ignore
supplemental export-ignore
.gitattributes export-ignore
CHANGELOG.md export-ignore
LICENSE export-ignore
README.md export-ignore
Reference.md export-ignore
Reference_4.2.x.md export-ignore
Runtime.md export-ignore
icon.png export-ignore
